.App {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-clickable {
  cursor: pointer;
}
.skill-desc{
  text-transform: uppercase;
  font-size: 0.8rem;
}
.subskill-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.prof-guage-prim {
  width: 16rem;
}
.prof-guage-sec {
  width: 12rem;
}