:root {

  --fontsize-normal: 1rem;
  --fontsize-title: 3rem;
  --fontsize-secondary: 1.5rem;
  --fontsize-detail: 0.8rem;

  --logo-width: 4rem;
  --logo-pad-left: 3rem;
  --logo-pad-right: 2rem;
  --logo-pad-total: calc(var(--logo-pad-left) + var(--logo-pad-right));
  --add-margin-left: 2rem;
  --main-margin-left: calc(var(--logo-pad-total) + var(--logo-width) + var(--add-margin-left));
  --main-margin-right: 5rem;

  --card-standard: 1rem;
}

@media screen and (min-width: 1200px) {
  :root {
    --card-standard: min(3vh, 2rem);
  }
}

.lightmode {

  --bg-prim: #FFF; // changed
  --bg-nav: #386641; // changed
  --bg-navlogo: #518048; // changed
  --bg-footer: #386641; // added
  --bg-card: linear-gradient(20deg, #386641, #6A994E); // changed
  --col-text-titles: #000000; // accepted
  --col-text-gen: #000000; // accepted
  --col-text-sup: #8CAD6F; // changed
  --col-detail-1: #6A994E; // changed
  --col-detail-2: #386641; // changed
  --col-detail-3: #F2E8CF; // changed
  --col-detail-4: orange; // unused
  --col-detail-5: #BC4749; // unused
  --col-detail-6: #FBF7EF; // changed
  --col-lightdark: #BC4749; // changed
  --col-lightdark-hover: #F2E8CF; // changed
  --col-hover-1: #518048; // changed
  --col-hover-2: ; // unused
  --grad-decor-1: #FBF7EF; // changed
  --grad-decor-2: #BC4749; // changed
  --col-navtext: #FFF; // accepted
  --col-nav-hover: #AEC18F; // changed
  --col-navtitle: rgba(255, 255, 255, 0.8); // accepted
  --col-card-title: #FFF; // accepted
  --col-card-textprim: #FFF; // accepted
  --col-card-textsup: #fff7; // accepted
  --col-card-thinborder: #0000; // accepted
  --col-card-tagbg: #386641; // changed
  --col-card-tagtext: #fffd; // accepted
  --col-cardscroll: #6a994e; // changed
  --col-footertext: #FFF; // added

  --color-choices:
    #255809, // prim accent + grad long
    #b4fa04, // second accent
    #dfff2d, // highlight/select
    #3b4925, // shadow
    #549a01, // cta
    #529600, // grad long
    #337e0a, // grad both
    #72af00, // grad both
    #E85F9A;

  --shadow-nodir:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.049),
    0px 12.5px 10px rgba(0, 0, 0, 0.057),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.062),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.066),
    0px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-dir: 
    1.4px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    3.3px 6.7px 5.3px rgba(0, 0, 0, 0.049),
    6.3px 12.5px 10px rgba(0, 0, 0, 0.057),
    11.2px 22.3px 17.9px rgba(0, 0, 0, 0.062),
    20.9px 41.8px 33.4px rgba(0, 0, 0, 0.066),
    50px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-card:
    0px 0.8px 2.2px rgba(0, 0, 0, 0.112),
    0px 2px 5.3px rgba(0, 0, 0, 0.162),
    0px 3.8px 10px rgba(0, 0, 0, 0.2),
    0px 6.7px 17.9px rgba(0, 0, 0, 0.238),
    0px 12.5px 33.4px rgba(0, 0, 0, 0.288),
    0px 30px 80px rgba(0, 0, 0, 0.4);
  --shadow-certificate:
    0px 0.6px 1px rgba(0, 0, 0, 0.056),
    0px 1.3px 2.5px rgba(0, 0, 0, 0.081),
    0px 2.5px 4.6px rgba(0, 0, 0, 0.1),
    0px 4.5px 8.3px rgba(0, 0, 0, 0.119),
    0px 8.4px 15.5px rgba(0, 0, 0, 0.144),
    0px 20px 37px rgba(0, 0, 0, 0.2);
    --avatar-shadow: 0 2px 10px rgba(0, 0, 0, 0.226);

    --image-darken: brightness(100%);
}


.darkmode {

  --bg-prim: #17141d;
  --bg-nav: #17141d;
  --bg-navlogo: #17141d;
  --bg-card: #17141d;
  --bg-footer: #17141d;
  --col-text-titles: #eeeeef;
  --col-text-gen: #eeeeee;
  --col-text-sup: #7a7a8c;
  --col-detail-1: #7a7a8c;
  --col-detail-2: #646374;
  --col-detail-3: #4d4b5b;
  --col-detail-4: #373442;
  --col-detail-5: #2c2836;
  --col-detail-6: #201c29;
  --col-lightdark: #373442;
  --col-lightdark-hover: #eeeeee;
  --col-hover-1: #7a7a8c;
  --col-hover-2: ; // unused
  --grad-decor-1: var(--col-detail-6);
  --grad-fallback-1: var(--col-detail-6); // unused
  --grad-decor-2: var(--col-detail-3);
  --grad-fallback-2: var(--col-detail-3); // unused
  --col-navtext: #eeeeee;
  --col-nav-hover: #7a7a8c;
  --col-navtitle: #7a7a8c;
  --col-card-title: #e1e1e3;
  --col-card-textprim: #eeeeee;
  --col-card-textsup: #7a7a8c;
  --col-card-thinborder: #7a7a8c;
  --col-card-tagbg: #0000;
  --col-card-tagtext: #eeeeee;
  --col-cardscroll: #201c29;
  --col-footertext: #7a7a8c; // added

  --col-evendarker: #1C1823;


  --shadow-nodir:
    0px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.049),
    0px 12.5px 10px rgba(0, 0, 0, 0.057),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.062),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.066),
    0px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-dir:
    1.4px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    3.3px 6.7px 5.3px rgba(0, 0, 0, 0.049),
    6.3px 12.5px 10px rgba(0, 0, 0, 0.057),
    11.2px 22.3px 17.9px rgba(0, 0, 0, 0.062),
    20.9px 41.8px 33.4px rgba(0, 0, 0, 0.066),
    50px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-card:
    -0.5px 0.8px 4.4px rgba(0, 0, 0, 0.129),
    -1.1px 2px 10.6px rgba(0, 0, 0, 0.186),
    -2.1px 3.8px 20px rgba(0, 0, 0, 0.23),
    -3.8px 6.7px 35.7px rgba(0, 0, 0, 0.274),
    -7.1px 12.5px 66.8px rgba(0, 0, 0, 0.331),
    -17px 30px 160px rgba(0, 0, 0, 0.46);
  --shadow-certificate:
    0px 0px 2.8px rgba(0, 0, 0, 0.051),
    0px 0px 6.7px rgba(0, 0, 0, 0.073),
    0px 0px 12.5px rgba(0, 0, 0, 0.09),
    0px 0px 22.3px rgba(0, 0, 0, 0.107),
    0px 0px 41.8px rgba(0, 0, 0, 0.129),
    0px 0px 100px rgba(0, 0, 0, 0.18);
    --avatar-shadow: 0 2px 10px rgba(0, 0, 0, 0.384);

    --image-darken: brightness(75%);
}

body {
  background-color: var(--bg-prim);
  color: var(--col-text-gen);
  width: 100%;

  --border-prim1: 0.05rem solid var(--col-detail-1);
  --border-sec1: 0.1rem solid var(--col-detail-6);
  --border-sec2: 0.2rem solid var(--col-detail-6);
  --border-carddetails: 0.05rem solid var(--col-card-thinborder);
  --border-invis: 0.1rem solid #0000;
}

@mixin title-decor-1 {
  color: var(--grad-decor-1);
  // color: #0000;
  // background: var(--grad-decor-1);
  // background-clip: text;
}
@mixin title-decor-2 {
  color: var(--grad-decor-2);
  // color: #0000;
  // background: var(--grad-decor-2);
  // background-clip: text;
}

h1, h2, h3, h4 {
  color: var(--col-text-titles);
}



.App {
  
}
.App-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.App-mobile {
  height: 100vh;
  display: none;
}
@media screen and (max-width: 500px) {
  .App-mobile {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .App-full {
    display: none;
  }
}




/* ------------ NAV STYLES ------------- */
.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  color: var(--col-navtext);
  background: var(--bg-nav);
  box-shadow: var(--shadow-nodir);
  z-index: 10; /* should be highest element */

}
.top-nav-thick {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem 1rem 3rem;
  background: var(--bg-navlogo);
  border-bottom-right-radius: 2rem;
  box-shadow: var(--shadow-dir);
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-image {
  width: var(--logo-width);
  height: auto;
}
.top-nav-thin {
  margin-left: var(--main-margin-left);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  margin: 0.1ch 0;
  margin-right: 2rem;
  font-family: "Roboto Mono";
  font-size: 2rem;
  font-weight: 100;
  color: var(--col-navtitle);
}
.navbar {
  display: flex;
  width: 40%;
  min-width: 18rem;
  margin: 1.5ch 0;
  margin-right: 5%;
  font-weight: 200;
}
.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item {

}
.nav-link {
  text-decoration: none;
  transition: all 0.1s ease;

  &:hover {
    color: var(--col-nav-hover);
  }
}
@media screen and (max-width: 800px) {
  .header-title {
    display: none;
  }
  .top-nav-thin {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar {
    margin-right: 5%;
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --logo-pad-left: 1.5rem;
    --logo-pad-right: 1rem;
    --logo-pad-total: calc(var(--logo-pad-left) + var(--logo-pad-right));
    --logo-width: 3rem;
    --add-margin-left: 0.5rem;
  }
  .top-nav-thick {
    padding-left: var(--logo-pad-left);
    padding-right: var(--logo-pad-right);
    border-bottom-right-radius: 1.5rem;
  }
  .logo-image {
    width: var(--logo-width);
  }
  .top-nav-thin {
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    margin-right: 5%;
    width: 70%;
  }
}



/* --------- HERO STYLES ---------- */
#hero {
  min-height: 90vh;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-catch {
  position: relative;
  margin-left: var(--main-margin-left);
  margin-top: -1rem;
}
.hero-header {
  margin-bottom: 2rem;
  font-size: 3rem;
}
@media screen and (max-width: 700px) {
  .hero-catch {
    width: 8rem;
    margin-top: 1rem;
  }
  .hero-header {
    font-size: 2rem;
  }
}
.hero-icon {
  position: absolute;
  top: 2.5rem;
  left: -3.5rem;
  cursor: pointer;
  transform: rotate(-10deg);
  transform-origin: center;
  font-size: 2rem;
  color: var(--col-lightdark);
  transition: all 0.2s ease;

  &:hover {
    color: var(--col-lightdark-hover);
    transform: scale(1.4);
  }
}
.subheader {
  display: block;
  font-size: var(--fontsize-secondary);
}
.subheader-text {
  display: block;
}
.idobox {
  position: relative;
  //overflow: hidden;
  display: block;
  //user-select: none;
  width: 20rem;
  margin: 3rem 2rem;
}
@media screen and (max-width: 700px) {
  .idobox {
    margin: 3rem 1rem;
  }
}
.screen-readable-label {
  position: absolute;
  top: 0;
  left: 0;
  color: #0000;
  user-select: none;
  display: block;
  font-size: 1px;
}
.ido-placeholder {
  color: #0000;
  user-select: none;
  display: block;
}
.ido {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  will-change: transform, opacity;

  &::before {
    content: "/";
    @include title-decor-2;
  }
  &::after {
    content: "/";
    @include title-decor-2;
  }
}
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-x: clip; // must not be set to hidden --> that crops y-axis of circles
}
.hero-face {
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translate(0, -50%);
  width: 45%;
  max-width: 90vh;
}
.hero-face-img {

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}
.hero-face-decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  z-index: -1;

  svg {
    width: 100%;
    height: 100%;
    display: block;

    circle {
      transform-origin: center;
      will-change: transform;
    }

    .wide {
      animation: rotate-wide 40s linear infinite forwards;
    }
    .thin {
      animation: rotate-thin 50s linear infinite forwards;
    }
    .thick {
      animation: rotate-thick 70s linear infinite forwards;
    }
  }
}
.mountains-background {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.mountains-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.mountains {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  min-height: 100%;
  width: 100%;
}
.water-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.water {
  display: block;
  width: 100%;
  height: auto;
}
// @media screen and (min-width: 1000px) {
//   .mountains {
//     top: calc(100vw * 0.50);
//     height: calc(100vw * 0.8);
//     min-width: 100%;
//     transform: translate(-50%, calc(100vw * (-0.65)));
//   }
// }
// @media screen and (max-width: 700px) {
//   .mountains {
//     top: 60%;
//     height: 80%;
//   }
// }

@keyframes rotate-wide {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-thin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-thick {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}



/* ------ GENERAL MAIN STYLES ------- */
main {
  margin-left: var(--main-margin-left);
  margin-right: var(--main-margin-right);
  width: calc(100% - var(--main-margin-left) - var(--main-margin-right));
}
.main-section {
 margin-bottom: 3rem;
}
.main-section h2 {
  width: fit-content;
  position: relative;
  display: block;
  font-size: var(--fontsize-title);
  margin-bottom: 0.5rem;

  &::before {
    content: "<";
    position: absolute;
    top: 0;
    left: -1em;
    @include title-decor-1;
  }
  &::after {
    content: " />";
    position: absolute;
    top: 0;
    right: -2em;
    @include title-decor-1;
  }
}


/* --------- PROJECTS STYLES --------- */
#projects {
  margin-bottom: 5rem;
}
.project-category-select {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.category-desc {
  margin-right: 1rem;
}
.category-select {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: var(--border-prim1);
  border-radius: 0.75rem;
  background: var(--bg-prim);
  position: relative;

  .triangle {
    margin: 0 0.8rem;
    width: 0.6rem;
    height: auto;
    user-select: none;

    &.rotate-90 {
      transform: rotate(-90deg);
    }
    transition: all 0.5s ease;
  }
}
.active-category {
  padding: 0.3rem 0.8rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -1%;
    right: 0;
    width: 0.05rem;
    height: 102%;
    transform: translateX(-50%);
    background: var(--col-text-sup);
  }
}

.category-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  background: var(--bg-prim);
  transition: all 0.2s ease;
  z-index: 1;
  border: var(--border-prim1);
  border-radius: 0.75rem;
  overflow: hidden;

  &.dropdown-open {
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    cursor: pointer;
  }
}
.category-option {
  padding: 0.3rem 0.8rem;
  transition: all 0.2s ease;
  white-space: nowrap;

  &:hover {
    background: var(--col-detail-3);

  }
}
.category-option-active {
  color: var(--col-text-sup);
  cursor: default;

  &:hover {
    background: var(--bg-prim);
  }
}

.project-stack-container {
  margin-left: calc(0rem - var(--main-margin-left));
  width: calc(100% + var(--main-margin-left) + var(--main-margin-right));
}
.card-stack {
  display: flex;
  align-items: center;
  padding: calc(var(--card-standard) * 2) var(--main-margin-right) 2rem var(--main-margin-left);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0.625rem;
    height: 0.625rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--col-cardscroll);
    border-radius: 0.625rem;
    //box-shadow: var(--shadow-card);
  }
  &::-webkit-scrollbar-track {
    background: var(--bg-prim);
  }
}
.project-card {
  // height: 22rem; // ~350px
  height: calc(var(--card-standard) * 22);
  // width: 20rem; // 400px; max-width
  width: calc(var(--card-standard) * 20);
  // min-width: 16rem; // ~250px; effective width w/ crowding multiple cards
  min-width: calc(var(--card-standard) * 16);
  margin: 0;
  // padding: 1.5rem;
  padding: calc(var(--card-standard) * 1.5);
  // border-radius: 1rem;
  border-radius: calc(var(--card-standard) * 1);
  background: var(--bg-card);
  box-shadow: var(--shadow-card);
  display: flex;
  flex-direction: column;
  transition: all .2s ease;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}
/* ~ is used to select all sibling .cards after the focused or hovered .card */
.project-card:focus-within~.project-card, .project-card:hover~.project-card {
  // transform: translateX(4rem);
  transform: translateX(calc(var(--card-standard) * 4));
}
.project-card:hover {
  // transform: translateY(-1rem);
  transform: translateY(calc(var(--card-standard) * (-1)));
}
/* set stacked spacing style for all .cards (excluding the first .card) */
.project-card:not(:first-child) {
  // margin-left: -4rem;
  margin-left: calc(var(--card-standard) * (-4));
}

.card-title {
  // margin-bottom: 0.4rem;
  margin-bottom: calc(var(--card-standard) * 0.4);
}
.card-h3 {
  font-size: calc(var(--card-standard) * 1.17);
  color: var(--col-card-title);

  a {
    text-decoration: none;
  }
}
.card-date {
  // font-size: var(--fontsize-detail);
  font-size: calc(var(--card-standard) * 0.8);
  color: var(--col-card-textsup);
}
.card-thumb-a {
  flex-grow: 1;
  // height: 3.125rem; // overridden by flex-grow
  height: calc(var(--card-standard) * 3.125); // overridden by flex-grow
  filter: var(--image-darken);
}
.card-thumb {
  width: 100%;
  max-height: 100%;
  height: 100%;
  //height: 3.125rem; // overridden by flex-grow
  object-fit: cover;
  // flex-grow: 1;
  // border-radius: 0.2rem;
  border-radius: calc(var(--card-standard) * 0.2);
  //border: 1px solid white;
  box-shadow:
    0px 0.6px 1.7px rgba(0, 0, 0, 0.037),
    0px 1.3px 4.1px rgba(0, 0, 0, 0.053),
    0px 2.5px 7.6px rgba(0, 0, 0, 0.065),
    0px 4.5px 13.6px rgba(0, 0, 0, 0.077),
    0px 8.4px 25.5px rgba(0, 0, 0, 0.093),
    0px 20px 61px rgba(0, 0, 0, 0.13);
}
.card-authorship {
  display: flex;
  // margin: 1rem 0 0.7rem;
  margin: calc(var(--card-standard)*1) 0 calc(var(--card-standard)*0.7);
  color: var(--col-card-textprim);

  &.single {
    align-items: center;
  }
}
.author1-avatar {
  border-radius: 50%;
  overflow: hidden;
  // height: 3.125rem;
  height: calc(var(--card-standard) * 3.125);
  // width: 3.125rem;
  width: calc(var(--card-standard) * 3.125);
  box-shadow: var(--avatar-shadow);
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: var(--image-darken);
}
.author-list {
  // margin-left: 1rem;
  margin-left: calc(var(--card-standard) * 1);
  color: var(--col-card-textprim);
}
.author-prefix {
  color: var(--col-card-textsup);
  // font-size: var(--fontsize-detail);
  font-size: calc(var(--card-standard) * 0.8);
  text-transform: uppercase;
  font-weight: 700;
}
.author-link {
  text-decoration: none;
  font-size: calc(var(--card-standard) *1);
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--col-card-tagtext);
}
.tag-link {
  // font-size: var(--fontsize-detail);
  font-size: calc(var(--card-standard)* 0.8);
  text-decoration: none;
  // padding: 0.1rem 0.4rem; // Intentionally not --card-standard based
  padding: calc(var(--card-standard)*0.1) calc(var(--card-standard)*0.4); 
  // margin-right: 0.4rem; // Intentionally not --card-standard based
  margin-right: calc(var(--card-standard) * 0.4);
  // margin-top: 0.3rem;
  margin-top: calc(var(--card-standard) * 0.3);
  // border-radius: 1rem; // Intentionally not --card-standard based
  border-radius: calc(var(--card-standard) * 1);
  background: var(--col-card-tagbg);
  border: var(--border-carddetails);
}




/* -------- SKILLS STYLES --------- */
#skills {

}
.skills-container {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  // //grid-template-rows: repeat(20, 6rem);
  // gap: 1rem;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // height: 100rem;
  // &:focus-within {
  //   height: 110rem;
  // }
    margin-top: 2rem;
}
// @media screen and (max-width: 900px) {
//   .skills-container {
//     height: 180rem;
//     &:focus-within {
//       height: 195rem;
//     }
//   }
// }
.skill-group {
  // width: 20rem; // 40%
  // margin-right: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  
  h3 {
    margin: 0.5rem 0;
    font-size: var(--fontsize-secondary);
    position: relative;
    width: fit-content;

    &::before {
      content: "{";
      position: absolute;
      right: calc(100% + 0.2rem);
      @include title-decor-1;
    }
    &::after {
      content: ".map}";
      @include title-decor-1;
    }
  }
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 0 1rem;
  justify-content: space-evenly;
}
.skill {
  width: 20rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  height: fit-content;
}
.skill-clickable {
  cursor: pointer;
  transition: all 0.3s ease;
  border: var(--border-invis);

  &:hover {
    border: var(--border-sec1);
    background-color: var(--col-detail-6);
  }
  &:focus {
    pointer-events: none;
  }
}
.skill-name {
  // font-weight: normal;
}
.skill-desc{
  text-transform: uppercase;
  font-size: var(--fontsize-detail);
  color: var(--col-text-sup);

}
.subskill-list {
  margin-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.subskill {
  width: 60%;
}
.subskill-name {
  font-size: 0.8rem;
  font-weight: bold;
}
.prof-guage-prim {
  width: 100%;
}
.prof-guage-sec {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* ------ CERTIFICATES STYLES ------ */

#certificates {

}
.certificates-container {
  margin-top: 2rem;
}
.certificate-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.certificate {
  padding: 1rem 2rem 1.5rem 2rem;
  border-radius: 1rem;
  color: var(--col-card-textprim);
  background: var(--bg-card);
  box-shadow: var(--shadow-certificate);
  width: fit-content;
}
@mixin small-upper {
  color: var(--col-card-textsup);
  font-size: var(--fontsize-detail);
  text-transform: uppercase;
}
.certificate-title {
  font-size: var(--fontsize-secondary);
  color: var(--col-card-title);
}
.certificate-issuer {
  color: var(--col-card-textprim);
  margin: 0.5rem 0;

  a {
    text-decoration: none;
  }
}
.certificate-dates {
  display: flex;
  align-items: center;
}
.certificate-dateissued {
  @include small-upper;

  &::after {
    content: "\00a0-\00a0";
  }
}
.certificate-dateexpires {
  @include small-upper;
}
.certificate-id {
  @include small-upper;

  span {
    text-transform: none;
  }
}
.certificate-link {
  margin-top: 0.5rem;
  font-size: var(--fontsize-detail);
}


/* ------ CONTACT STYLES -------- */
#contact {

}
.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 0 1rem;
  justify-content: space-around;
  margin-top: 2rem;

  h3 {
    font-size: var(--fontsize-secondary);
    margin-bottom: 1rem;
    position: relative;
    width: fit-content;

    &::before {
      content: "/*";
      position: absolute;
      top: 0;
      right: calc(100% + 0.5em);
      @include title-decor-1;
    }
    &::after {
      content: "*/";
      position: absolute;
      top: 0;
      left: calc(100% + 0.5em);
      @include title-decor-1;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  li {
    line-height: 1.8rem;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      color: var(--col-hover-1);
    }
  }
}
.contact-info {
  margin-bottom: 2rem;
}
.contact-icon {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  width: 1rem;
}
.info-list {

}
.info-item {

}
.contact-socials {
  margin-bottom: 2rem;
}
.socials-list {

}
.socials-item {

}


/* ------- FOOTER STYLES -------- */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: var(--col-footertext);
  font-weight: 300;
  background: var(--bg-footer);
}
.source-code {
  padding: 1rem 2rem 0;

  a {
    &:hover {
      color: var(--col-footertext);
    }
    &:visited {
      color: var(--col-footertext);
    }
  }
}
.copyright {
  padding: 1rem 2rem;
}