@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e2e2e2;
  background: rgb(23, 22, 34);
}

a, button, input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #bcb6dd;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

