.ido1 {
  -webkit-animation: down-1 3s ease-in-out 1 forwards;
          animation: down-1 3s ease-in-out 1 forwards;
}

.ido2 {
  -webkit-animation: down-2 3s ease-in-out 1 forwards;
          animation: down-2 3s ease-in-out 1 forwards;
}

.ido3 {
  -webkit-animation: 3s ease-in-out 1 forwards;
          animation: 3s ease-in-out 1 forwards;
}

@-webkit-keyframes down-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes down-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes down-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
}

@keyframes down-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
}

@-webkit-keyframes down-prep {
  to {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@keyframes down-prep {
  to {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@-webkit-keyframes up-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes up-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes up-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@keyframes up-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@-webkit-keyframes up-prep {
  to {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
}

@keyframes up-prep {
  to {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
}

@-webkit-keyframes right-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes right-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes right-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}

@keyframes right-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}

@-webkit-keyframes right-prep {
  to {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@keyframes right-prep {
  to {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@-webkit-keyframes left-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes left-1 {
  from {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes left-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@keyframes left-2 {
  from {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@-webkit-keyframes left-prep {
  to {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}

@keyframes left-prep {
  to {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}
/*# sourceMappingURL=idos.css.map */