.ido1 {
  -webkit-animation: down-1 3s ease-in-out 1 forwards;
          animation: down-1 3s ease-in-out 1 forwards;
}

.ido2 {
  -webkit-animation: down-2 3s ease-in-out 1 forwards;
          animation: down-2 3s ease-in-out 1 forwards;
}

.ido3 {
  -webkit-animation: 3s ease-in-out 1 forwards;
          animation: 3s ease-in-out 1 forwards;
}

@-webkit-keyframes down-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes down-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes down-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }
}

@keyframes down-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }
}

@-webkit-keyframes down-prep {
  to {
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }
}

@keyframes down-prep {
  to {
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }
}

@-webkit-keyframes up-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes up-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes up-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }
}

@keyframes up-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%);
  }
}

@-webkit-keyframes up-prep {
  to {
    -webkit-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }
}

@keyframes up-prep {
  to {
    -webkit-transform: translate(0%, -200%);
            transform: translate(0%, -200%);
  }
}

@-webkit-keyframes right-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes right-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes right-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}

@keyframes right-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}

@-webkit-keyframes right-prep {
  to {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@keyframes right-prep {
  to {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@-webkit-keyframes left-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes left-1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes left-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@keyframes left-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@-webkit-keyframes left-prep {
  to {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}

@keyframes left-prep {
  to {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
}
/*# sourceMappingURL=idos.css.map */