
.ido1 {
  animation: down-1 3s ease-in-out 1 forwards;
}
.ido2 {
  animation: down-2 3s ease-in-out 1 forwards;
}
.ido3 {
  animation: 3s ease-in-out 1 forwards;
}

@keyframes down-1 {
  0% {
    opacity: 0;
    transform: translate(0%, 200%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes down-2 {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(0%, -200%)
  }
}
@keyframes down-prep {
  to {
    transform: translate(0%, 200%);
  }
}

@keyframes up-1 {
  0% {
    opacity: 0;
    transform: translate(0%, -200%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes up-2 {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(0%, 200%)
  }
}
@keyframes up-prep {
  to {
    transform: translate(0%, -200%);
  }
}

@keyframes right-1 {
  0% {
    opacity: 0;
    transform: translate(-100%, 0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes right-2 {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(100%, 0%)
  }
}
@keyframes right-prep {
  to {
    transform: translate(-100%, 0%);
  }
}

@keyframes left-1 {
  0% {
    opacity: 0;
    transform: translate(100%, 0%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes left-2 {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(-100%, 0%)
  }
}
@keyframes left-prep {
  to {
    transform: translate(100%, 0%);
  }
}